<app-loader *ngIf="this.showLoader"></app-loader>
<div class="componente-busca-pessoas-wrappper">
    <div class="componente-busca-pessoas">
        <div class="content">
            <div class="flex-item-1">
                <label for=""> Nome </label>
            </div>
            <div class="flex-item-1">
                <label for="">Documento</label>
            </div>          
        </div>

        <div title="Selecionar" class="content linha mouse" *ngFor="let item of this.pessoas" (click)="fechar(item)">
            <div class="flex-item-1">
                {{ item.nome}}
            </div>
            <div class="flex-item-1">
                {{ item.documento}}
            </div>
        </div>
    </div>
</div>