<app-loader *ngIf="this.showLoader"></app-loader>
<div> <label for="">{{label}}</label> </div>
<form *ngIf="this.pessoaNaoSelecionada; else pessoaSelecionada">
    <div [formGroup]="hospedeForm">
        <input class=" maiusculas input-termo" formControlName="nome" type="text">
    </div>
    <div *ngIf="this.showBuscaPessoas">
        <div class="componente-busca-pessoas-wrappper">
            <div>
                <div class="content">
                    <div class="flex-item-1">
                        <label for=""> Nome </label>
                    </div>
                    <div class="flex-item-1">
                        <label for="">Documento</label>
                    </div>
                </div>
                <div title="Selecionar" class="content linha mouse" *ngFor="let item of this.pessoas"
                    (click)="fechar(item)">
                    <div class="flex-item-1">
                        {{ item.nome}}
                    </div>
                    <div class="flex-item-1">
                        {{ item.documento}}
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
<ng-template #pessoaSelecionada>
    <form class="row" [formGroup]="hospedeForm" action="">
        <div class="flex-item-12">
            <input class="width-100 maiusculas input-termo" formControlName="nome" type="text">
        </div>
        <button class="btn-pesquisa background-vermelho flex-item-1" (click)="buscarNovamente()"> x
        </button>
    </form>
</ng-template>