:root {}

$tam-border-radius: 4px;

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/gothan/gotham-light.woff2') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/gothan/gotham-book.woff2') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/gothan/gotham-bold.woff2') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('assets/fonts/gothan/gotham-black.woff2') format('truetype');
    font-weight: 900;
    font-style: normal;
}

* {
    font-family: 'Gotham';
    box-sizing: border-box;

}

:host {
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.logo {
    height: 43px;
    width: 103px;
}


.spacer {
    flex: 1;
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px !important;
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    align-items: center;
    background-color: #199580;
    color: white;
    font-weight: 600;
}

.toolbar img {
    margin: 0 16px;
}

.toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
}

.toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
}

.toolbar #twitter-logo:hover,
.toolbar #youtube-logo:hover {
    opacity: 0.8;
}

.conteudo {
    margin: 82px 0 0 0;
}


.content {
    display: flex;
    flex-direction: row;
    padding: 11px 34px;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
    .content {
      flex-direction: column;
    }
  }

.row {
    display: flex;
}

.barra-menu {
    border-bottom: 2px solid white;
    margin: 0 3px 8px 12px;
    width: 31px;
}

.flex-menu {
    cursor: pointer;
    flex: 0;
}

.flex-item-1,
.formulario {
    flex: 1;
    padding: 0 1%;
    flex-direction: column;
    display: flex;
}

.flex-item-12 {
    flex-grow: 12;
}



.background-azul {
    background-color: #347ab6;
}

.background-vermelho {
    background-color: red;
}

.background-amarelo {
    background: #ffd73a;
}

.alinhar-direita {
    text-align: right;
    justify-content: flex-end;
}

.alinhar-centro {
    text-align: center;
    justify-content: center;
}

.color-white {
    color: white;
}

.a-logo {
    text-decoration: none;
    color: white;
}

.btn {
    margin: 0 3px;
    border: none;
    padding: 0 10px;
    border-radius: $tam-border-radius;
    text-transform: uppercase;
}

.btn-pesquisa {
    border: none;
    border-radius: $tam-border-radius;
}

.linha {
    border-bottom: 1px solid gray;
}

.linha:nth-child(even) {
    background-color: rgb(218, 216, 216);
}

.pagination {
    text-align: center;

}

.disabled {
    background: #96caf8 !important;
}

.pagination li {
    display: inline;
    margin: 2px 9px;
    background: #347ab6;
    padding: 5px 12px;
    border-radius: 4px;
    color: white;
}

fieldset,
form {
    border-radius: 5px;
}

fieldset {
    margin: 0;
    padding: 10px;
    border: none;
    border-radius: 2px;
}

form {
    border: 2px solid #347ab6;
}


input:disabled {
    background-color: rgb(218, 216, 216);
}

input[type="text"],
input[type="datetime-local"],
.btn {
    height: 30px;
}

input {
    border: 1px solid gray;
    border-radius: $tam-border-radius;
}

.width-95 {
    width: 95%;
}

.width-100 {
    width: 100%;
}

.maiusculas {
    text-transform: uppercase;
}

.mouse {
    cursor: pointer;
}